<div name="nirform" ng-form>
<div class="sub-nav">
    <ul ng-init="$parent.subNav1 = 0">
        <li ng-class="{selected : $parent.subNav1 === 0}"><a href="" ng-click="$parent.subNav1 = 0">Item Information</a></li>
        <li ng-class="{selected : $parent.subNav1 === 1}"><a href="" ng-click="$parent.subNav1 = 1" >Add Items</a></li>
        <!-- ng-class="nirform.$invalid ? 'disabled-a' : ''" -->
    </ul>
</div>
<div class="sub-nav-content-container">
    <div class="col-md-12">
        <form role="form" class="inventry"  ng-submit="saveNIR(materialDetail)">
            <div ng-show="$parent.subNav1 === 0">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Company*:</label>
                        <select class="" name="company" required ng-model="materialDetail.company">
                            <option value="">Select Option</option>
                            <option value="1">Agro</option> 
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Store*:</label>
                          <select class=""  name="store" required ng-model="materialDetail.storeID">
                            <option value="">Select Option</option>
                            <option value="1">Magazia01 </option>
                            <option value="2">Magazia02 </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="nir">NIR*:</label>
                        <input type="text" class="form-control" name="nir" id="nir" ng-model="materialDetail.GRNID" placeholder="NIR" disabled="disabled">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="nirdate">NIR Date*:</label>
                        <span class="input-group date">
                <input type="date"  ng-model="materialDetail.GRNDate" name="nirDate" required class="form-control" id="nirdate" placeholder="NIR">

                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="supplier">Supplier*</label>
                        <select  ng-model="materialDetail.supplierID" name="supplier" required class="" id="supplier">
                            <option value="">Select Option</option>
                            <option value="1">Test SUpplier</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="trasporter">Trasporter*</label>
                        <select class=""  ng-model="materialDetail.transporterID" name="trasportet" required id="trasporter">
                            <option value="">Select Option</option>
                            <option value="2">Trasporter 1</option>
                        </select>
                    </div>
                </div>
                <div class="clear-fix"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="driver">Driver Name*:</label>
                        <input type="text" name="driver" required ng-model="materialDetail.driverName" class="form-control" id="driver" placeholder="Driver Name">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="drivercontact">Driver Contact*:</label>
                        <input type="text" class="form-control" name="driverContact" required id="drivercontact" ng-model="materialDetail.driverContactNo" placeholder="Driver Contact">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="truk">Vehicle Number*:</label>
                        <input type="text" class="form-control" name="vehiclenumber" required id="truk" ng-model="materialDetail.vehicleNo" placeholder="Vehicle Number">
                    </div>
                </div>
                <div class="clear-fix"></div> 
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="challan">Challan Number*:</label>
                        <input type="text" ng-model="materialDetail.challanNo" name="challannumber" required class="form-control" id="challan" placeholder="Chalan Number">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="chllandate">Challan Date*:</label>
                        <span class="input-group date"> 
                <input type="date" ng-model="materialDetail.challanDate" class="form-control" name="challandate" required id="chllandate" placeholder="Challan Date">

                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="invoce">Invoice Number*:</label>
                        <input type="text" class="form-control" id="invoce" name="invoce" required ng-model="materialDetail.invoiceNo" placeholder="Invoice Number">
                    </div>
                </div>
                <div class="clear-fix"></div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="invocedate">Invoice Date*:</label>
                        <span class="input-group date"> 
                <input type="date" class="form-control" id="invocedate" name="invocedate" required ng-model="materialDetail.invoiceDate" placeholder="Invoice Date">

                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="gatere">Gate Pass No*:</label>
                        <input type="text" class="form-control" id="gatere" name="gatere" required ng-model="materialDetail.gatePassNo" placeholder="Gate Pass No">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="gatedate">Gate Pass Date*:</label>
                        <span class="input-group date"> 
                <input type="date" ng-model="materialDetail.gatePassDate" name="gatePassDate" required class="form-control" id="gatedate" placeholder="Gate Pass Date">

                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        </span>
                    </div>
                </div>
                <div class="clear-fix"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="remark">Remark</label>
                        <br>
                        <textarea cols="50" id="remark" rows="7" name="remark"  placeholder="Enter remark here." class="no-shadow" ng-model="materialDetail.Remark"></textarea>
                    </div>
                </div>
                <div class="clear-fix"></div>

                    <div class="form-group pull-right">
                        <button class="button large blue" type="button" ng-disabled="nirform.$invalid" ng-click="$parent.subNav1 = 1">Next</button>
                    </div>
            </div>
            <div ng-show="$parent.subNav1 === 1">
                <h2>Content</h2>

                <table class="ssr-table table table-bordered table-striped table-responsive">
    <thead>
        <tr  class="table-heading">
            <th>
               Sr. No.
            </th>
            <th>
                Item Name
            </th>
            <th>
                Item Code
            </th>
            <th>
                Discount (%)
            </th>
            <th>
                Recive Qty
            </th>
            <th>
                Rate
            </th>
            <th>
                Total Price
            </th>
            <th>
                Store Stock
            </th>
            <th>
                Remark
            </th>
            <th>
               Action
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in itemsArray track by $index">
            <td>
                {{$index+1}}
            </td>
            <td>
                {{item.OurName}}
            </td>
            <td>
                {{item.uomID}}
                
            </td>
            <td>
                {{item.DisPer}}
                
            </td>
            <td>
                {{item.AcceptedQty}}
            </td>
            <td>
                {{item.rate}}
            </td>
            <td>
                {{item.totalPrice}}
            </td>
            <td>
                {{item.storeStock}}
            </td>
            <td>
                {{item.remark}}
            </td>

            <td>
              <input type="button" value="Remove" ng-click="removeItem($index)" class="button">
                
            </td>
        </tr>
        <tr>
            <td>
              {{itemsArray.length+1}}
            </td>
            <td>
              <input type="text" class="form-control" id="city" ng-model="newItem.OurName">
            </td>
            <td>
              <input type="text" class="form-control" ng-model="newItem.uomID">
            </td>
            <td>
              <input type="text" class="form-control" ng-model="newItem.DisPer">
            </td>
            <td>
              <input type="text" class="form-control" ng-model="newItem.AcceptedQty">
            </td>
            <td>
              <input type="text" class="form-control" ng-model="newItem.rate">
            </td>
            <td>
              {{getDiscountedPrice(newItem.rate, newItem.AcceptedQty, newItem.DisPer)}}
            </td>
            <td>
               {{newItem.storeStock || 120}}
            </td>
            <td>
              <input type="text" class="form-control" ng-model="newItem.remark">
              
            </td>
            <td>
              <input type="button" value="Add" ng-disabled="!newItem.OurName || !newItem.uomID || !newItem.DisPer || !newItem.AcceptedQty || !newItem.rate" ng-click="addItem(newItem)" class="button">
              
            </td>
        </tr>
    </tbody>
</table>
              <div class="pull-right">
            <button class="button large blue">Save</button>
            <button class="button large ">Cancle</button>
            <button class="button large ">Delete</button>
        </div> 
            </div>
        </form>
    </div>
</div>
</div>