<div class="sub-nav">
  
</div>
<div class="sub-nav-content-container">
    <div class="col-md-12"> 
      <div class="pull-right mb10 ">
      <label for="">Search:</label>
        <input type="text" class="search-grn" placeholder="search GRN">
    </div>
                       <table class="table ssr-table table-bordered table-striped table-responsive">
    <thead>
        <tr class="table-heading">
            <th>
               Sr. No.
            </th>
            <th>
                GRN Nn.
            </th>
            <th>
                GRN Date
            </th>
            <th>
                Supplier
            </th>
            <th>
                Action
            </th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                1
            </td>
            <td>
                235455
            </td>
            <td>
                05-03-2016
            </td>
            <td>
                Max Pvt Ltd
            </td>
            <td>
                 <button>View</button>
                 <button disabled>Edit</button>
            </td>
            
        </tr>
        <tr>
            <td>
               2
            </td>
            <td>
                235455
            </td>
            <td>
                05-03-2016
            </td>
            <td>
                Max Pvt Ltd
            </td>
            <td>
                 <button>View</button>
                 <button disabled>Edit</button>
            </td>
            
        </tr>
        
    </tbody>
</table>
    </div>
</div>
