
<div class="modal  " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header header-modal"> 
                <h2 class="modal-title login-title" id="myModalLabel"><img src="app/img/logo.png" alt="">SSR Inventory Management</h2>
               
            </div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
              <form  class="login-form" ng-submit="authenticateUser(auth)" name="loginForm"> 
            <div class="form-group"> 
                <input type="email" class="form-control text-input" ng-required="true" ng-model="auth.userName"  placeholder="Username">
            </div>
            <div class="form-group"> 
                <input type="password" class="form-control text-input" ng-required="true" ng-model="auth.password"   placeholder="Password"> 
            </div>
            <div class="form-group">
                 <input type="submit" value="Submit" ng-class="loginForm.$invalid ? 'disabled-btn' : ''" ng-disabled="loginForm.$invalid" class="button large blue action-btn" />
            </div>
        </form>
            </div>
            <span class="error" ng-if="errorLogin">Incorrect username or password</span>
            <span class="error" ng-if="errorServer">Unable to access server</span>
        </div>
        <div class="modal-footer footer-modal">
           Copyright © 2016 <a href="http://jnom.in" class="link-btn" target="_blank">Jnom</a>. All rights reserved. 
        </div>
    </div>
</div>
<script type="text/javascript">
 
        $('#myModal').modal('show');
  
</script>