<div class="sub-nav">
 
</div>
<div class="sub-nav-content-container">
    <div class="col-md-12">
        <form role="form" class="inventry">
            <div >
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Company*:</label>
                        <select class="">
                            <option value="">Select Option</option>
                            <option>Option B</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Store*:</label>
                        <select class="">
                            <option value="">Select Option</option>
                            <option>Option B</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="nir">MR No.*:</label>
                        <input type="text" class="form-control" id="nir" placeholder="MR" disabled="disabled">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="date">Date*:</label>
                        <span class="input-group date">
                <input type="date" class="form-control" id="date" placeholder="Date">  
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Department*:</label>
                        <select class="">
                            <option value="">Select Option</option>
                            <option>Option B</option>
                        </select>
                    </div>
                </div>
                   <div class="col-md-4">
                    <div class="form-group">
                        <label for="Required">Required By*:</label>
                        <input type="text" class="form-control" id="Required" placeholder="Required By" disabled="disabled">
                    </div>
                </div>
                   <div class="col-md-4">
                    <div class="form-group">
                        <label for="Approved">Approved By*:</label>
                        <input type="text" class="form-control" id="Approved" placeholder="Approved Name" disabled="disabled">
                    </div>
                </div>
                  <table class="table table-bordered table-striped table-responsive">
    <thead>
        <tr class="table-heading">
            <th>
               Sr. No.
            </th>
            <th>
                Item Our Name
            </th>
            <th>
                Item Code
            </th>
            <th>
               Requested Qty
            </th>
            <th>
                UOM
            </th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                1
            </td>
            <td>
                Apple
            </td>
            <td>
                00119
            </td>
            <td>
                10
            </td> 
            <td>
                KG
            </td>
             
        </tr>
        <tr>
            <td>
              2
            </td>
            <td>
              <input type="text" class="form-control">
            </td>
            <td>
              <input type="text" class="form-control">
            </td>
            <td>
              <input type="text" class="form-control">
            </td>
            <td>
              <select name="" id=""><option>select</option><option>546</option></select>
            </td> 
        </tr>
    </tbody>
</table>
               
            </div>
        <div class="pull-right">
            <button class="button large blue" type="submit">Save</button>
            <button class="button large ">Cancle</button>
            <button class="button large ">Delete</button>
        </div> 
        </form>
    </div>
</div>
