<div id="loaderDiv" loader-html style="display: none;">
    <div id="loader"></div>
</div>
<div class="sidebar">
    <div class="sidebar-navicontainer">
        <div class="sidebar-headbox">
            <span class="sidebar-header">Dashboard Menu</span> 
        </div>
        <ul class="nav"> 
            <li ui-sref-active='selected'><a><span class="entypo-plus-circled disabled"></span>
                Item Master</a></li>
            <li ui-sref-active='selected'><a ui-sref="app.add"><span class="entypo-pencil"></span>
                NIR</a></li>
            <li ui-sref-active='selected'><a ui-sref="app.grn-view"><span class="entypo-pencil"></span>
                NIR View</a></li>
            <li ui-sref-active='selected'><a ui-sref="app.material-request"><span class="entypo-window"></span>
               Material  Requisition</a></li>
            <li ui-sref-active='selected'><a><span class="entypo-window"></span>
               MR View</a></li>
            <li ui-sref-active='selected'><a><span class="entypo-window"></span>
               Material Issue</a></li>
            <li ui-sref-active='selected'><a><span class="entypo-window"></span>
               Material View</a></li>
            
        </ul>
    </div>

    <div class="sidebar-navicontainer">
        <div class="sidebar-headbox">
            <span class="sidebar-header">Advance Menu</span> 
        </div>
        <ul class="nav">
            <li class="disabled"><a href="#/view1"><span class="entypo-monitor disabled"></span>
                Purchases Order</a></li>
            <li class=" disabled"><a href="#/view2"><span class="entypo-attention disabled"></span>
                Internal Transfer   
            </a></li>
            <li class=" disabled"><a href="#/view2"><span class="entypo-attention disabled"></span>
                Inventory Ledger   
            </a></li>
        </ul>
    </div>
 
</div>


<div class="heading-bar">
    <div class="user-bar">
        Hi, Swapnil Patwa | <a href="">Sign out</a>
    </div>
    <span class="heading-one"><img src="app/img/agro-logo.png" width="48"
                                   height="40"> {{title}}</span>

 
</div>

<div class="content">
    <div class="container-fluid container-maverix"> 
    <div ui-view></div>
    </div>
</div>